.todoList-task.done{
    opacity: 0.5;
}

.todoList-task{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data{
    width: 100%;
}

input[type=checkbox]{
    width: 15px;
    margin: 5px;
}

.todoList-task input[type=text]{
    width: 70px
}