.greetingBox{
  width: 400px;
  margin: 5px;
  padding: 5px;
}

.greetingBox span{width: 15px;
  margin: 5px;
}

.greetingBox input{
  width: 200px;
}

.greetingBox button{
  margin-left: 5px;
  padding: 5px;
  background-color: #b46dff;
  border-radius: 5px;
}