.greetingBox{
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greetingBox span{width: 15px;
  margin: 5px;
}

.greetingBox button{
  margin-left: 5px;
  padding: 5px;
  background-color: #b46dff;
  border-radius: 5px;
}