.App {
  background-color: #dcc6ff;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
}

@media (min-width: 601px) {
    .App {
        height: 100vh;
        width: 100vw;
    }
}

@media (max-width: 600px) {
    .App {
        flex-direction: column;
        width: 100vw;
    }
}

.aboutYou{
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 50%;
}